.header{
    min-height: 6rem;
    background-color: #2F48CF;
    color: white;
    .header-main{
    
        .header__logo{
            display: flex;
            justify-content: center;
            align-items: center;
            // padding-bottom: 1rem;
            cursor: pointer;

            height: 6rem;
            width: 6rem;
    
            img{
                width: 100%;
            }
        }
        
        .header__menu{
            position: absolute;
            top: 5%;
            right: 5%;
        }

        .nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            flex-wrap: nowrap;

            .header__social{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
        
                .header__social-face{
                    height: 3rem;
                    width: 3rem;
                    cursor: pointer;
                    img{
                        width: 100%;
                    }
                }
            }
    
            .header__nav{
                .header__nav-categorias{
                    .btn{
                        color: white;
                        font-size: 1.2rem;
                    }
                }
            }
    
            .header__search{
                .header__search-barra{
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 15rem;
                    border-radius: 2rem;
                    padding-right: 1rem;
                    padding-left: 1rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    cursor: pointer;
    
                    p{
                        margin: 0;
                        color: gray;
                    }
    
                    mat-icon{
                        color: black;
                    }
                }
            }
    
            .header__user{
                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: center;
    
                .header__user-logo{
                    height: 3rem;
                    width: 3rem;
                    cursor: pointer;
    
                    button{
                        display: none;
                    }
    
                    img{
                        width: 100%;
                    }
                }
    
                .header__user-saludo{
                    p{
                        margin: 0;
                    }
                }
    
                mat-icon{
                    font-size: 2.5rem;
                }
            }
        }

        .nav-open{
            overflow: hidden;
            max-height: 120rem;
            transition-property: all;
            transition-duration: 2s;
            transition-timing-function: ease;
            padding-bottom: 1rem;
        }

        .nav-close{
            overflow: hidden;
            max-height: 0;
            transition-property: all;
            transition-duration: 1s;
            transition-timing-function: ease;
        }

    }
}

@media screen and (min-width: 700px) {
    .header-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding-top: 1rem;

        .header__logo{
            display: flex;
            justify-content: center;
            align-items: center;
            // padding-bottom: 1rem;

            height: 8rem;
            width: 8rem;
    
            img{
                width: 100%;
            }
        }

        .header__menu{
            display: none;
        }
    
        .nav{
            display: flex;
            justify-content: space-between !important;
            gap: 5px !important;
            flex-direction: initial !important;

            .header__social{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
        
                .header__social-face{
                    height: 3rem;
                    width: 3rem;
        
                    img{
                        width: 100%;
                    }
                }
            }
    
            .header__nav{
                .header__nav-categorias{
                    .btn{
                        color: white;
                        font-size: 1.2rem;
                    }
                }
            }
    
            .header__search{
                .header__search-barra{
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 15rem;
                    border-radius: 2rem;
                    padding-right: 1rem;
                    padding-left: 1rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    cursor: pointer;
    
                    p{
                        margin: 0;
                        color: gray;
                    }
    
                    mat-icon{
                        color: black;
                    }
                }
            }
    
            .header__user{
                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: center;
    
                .header__user-logo{
                    height: 3rem;
                    width: 3rem;
                    cursor: pointer;
    
                    button{
                        display: none;
                    }
    
                    img{
                        width: 100%;
                    }
                }
    
                .header__user-saludo{
                    p{
                        margin: 0;
                    }
                }
    
                mat-icon{
                    font-size: 2.5rem;
                }
            }
        }

        .nav-close{
            overflow: visible !important;
            max-height: 50rem !important;
        }

    }
}