.component-body{
  display: flex;
  height: 100vh;
}

.component-izq {
  flex: 1;
  position: relative;
  background: url('https://i.ibb.co/wKN14Wr/Fondo-Estable.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.contenedor-component-izq {
  z-index: 1;
  position: relative;
}
.imagen-contenedor {
  max-width: 70%;
  /* Modificamos el tamaño máximo */
  max-height: 70%;
  /* Modificamos el tamaño máximo */
  position: relative;
  left: 15%;
}
.font {
  color: #FFF;
  font-family: Baloo Thambi;
  font-size: 7vw;
  font-weight: bold;
  -webkit-text-stroke: 3px black; //para agregar borde negro a la letra
}
// @media (max-width: 600px) {

//   /* Cambiar el tamaño de fuente cuando la pantalla tenga un ancho máximo de 600px */
//   .font {
//     font-size: 1.5em;
//     /* Tamaño de fuente para pantallas más pequeñas */
//   }
// }

.component-der{
  flex: 1;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.contenedor-registro{
  width: 85%;
  height: 85%;
  background: #2F48CF;
  border-radius: 40px;
}


