.general-container {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.border-5px {
    border: #2F48CF 1px solid;
    border-radius: 5px;
}

.cont-products-principal {
    width: 80%;
}

.cont-products {
    display: flex;
    flex-direction: column;
}

.cont-single-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-height: 160px;
    border: #2F48CF 1px solid;
}

.product-img {
    max-width: 14%;
    max-height: 130px;
    object-fit: contain;
    margin: 0px 2%;
}

.product-cont-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 150px;
    margin-right: 1px;
}

.details-text-title {
    font-weight: bold;
    font-size: 110%;
}

.details-test-body {
    font-weight: lighter;
}

.details-cont-buttons {
    margin-top: 10px;
}

.button {
    background-color: #2F48CF;
    color: #ffffff;
    margin-right: 15px;
}

.cont-counter-stock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 160px;
    margin-right: 5px;
}

.cont-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.counter-format-middle {
    border-top: #2F48CF .1px solid;
    border-bottom: #2F48CF .1px solid;
    min-width: 30px;
    width: 50px;
}

.counter-format-side {
    border: #2F48CF .1px solid;
    min-width: 30px;
    width: 40px;
}

.cont-price {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 15%;
    height: fit-content;
}

.price-text {
    font-size: 130%;
}

.cont-total-principal {
    width: 19%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.total-text-title {
    text-decoration: underline;
}

.total-resume {
    width: 100%;
    text-align: left;
    margin: 10px 0px 20px 0px;
}

.total-text-price {
    font-weight: bold;
}

.total-button {
    width: 100%;
    background-color: #2F48CF;
    color: #ffffff;
}

