<main class="mat-app-background" >
    <section class="container general-container">
        <mat-card class="cont-products-principal">
            <mat-card-title>PRODUCTOS</mat-card-title>
            <mat-card-content class="cont-products">
                <mat-label class="there_no" *ngIf="cart.carrito_producto.length == 0">No hay productos</mat-label>
                <div class="cont-single-product" *ngFor="let carrito_producto of cart.carrito_producto; let i = index;">
                    <div class="cont-mix-img-details">
                        <div class="cont-img" (click)="appendQueryParams(carrito_producto.id_producto)">
                            <img src={{carrito_producto.producto.imagen.url[0]}} alt="product-img" class="img">
                        </div>
                        <div class="product-cont-details">
                            <mat-label class="details-text-title" (click)="appendQueryParams(carrito_producto.id_producto)">{{carrito_producto.producto.nombre}}</mat-label>
                            <mat-label class="details-text-body">Color: {{carrito_producto.producto.color.color}} &nbsp;&nbsp; Tipo: {{carrito_producto.producto.tipo.tipo}}</mat-label>
                            <div class="details-cont-buttons">
                                <button mat-raised-button class="button border-5px">
                                    <mat-icon><span class="material-symbols-outlined">attach_money</span></mat-icon>
                                    Comprar ahora
                                </button>
                                <button mat-raised-button class="button button-delete border-5px" (click)="deleteProduct(i)">
                                    <mat-icon><span class="material-symbols-outlined">delete</span></mat-icon>
                                    <span class="text-delete">Eliminar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="cont-counter-stock-price">
                        <div class="cont-counter-stock">
                            <div class="cont-counter">
                                <button mat-button (click)="actionsBtn(i, false)" class="counter-format-side">-</button>
                                <button mat-button class="counter-format-middle">{{carrito_producto.cantidad_producto}}</button>
                                <button  mat-button (click)="actionsBtn(i, true)" class="counter-format-side">+</button>
                            </div>
                            <mat-label class="details-text-body stock-text-mobile">Stock: {{carrito_producto.producto.inventario[0].existencias}} disponibles</mat-label>
                        </div>
                        <div class="cont-price">
                            <mat-label class="price-text">${{current_price[i]}} MXM</mat-label>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="cont-total-principal">
            <mat-label class="total-text-title">Resumen de compra</mat-label>
            <div class="total-resume">
                <mat-label>No. de productos: {{total_allProducts}}</mat-label> <br>
                <mat-label class="total-text-price">Total: ${{total_price}} MXM</mat-label>
            </div>
            <button mat-raised-button class="total-button border-5px" (click)="proceedToPayment()">
                <mat-icon><span class="material-symbols-outlined">attach_money</span></mat-icon>
                Comprar ahora
            </button>
        </mat-card>
    </section>
</main>
