<section class="container general-container">
    <mat-card class="cont-products-principal border-5px">
        <mat-card-title>PRODUCTOS</mat-card-title>
        <mat-card-content class="cont-products">
            <div class="cont-single-product" *ngFor="let product of cart.detalle_venta; let i = index">
                <img src={{product.imagen.url[0]}} alt="producto" class="product-img">
                <div class="product-cont-details">
                    <mat-label class="details-text-title">{{product.nombre}}</mat-label> <br>
                    <mat-label class="details-text-body">Color: {{product.color.color}} &nbsp;&nbsp; Tipo: {{product.tipo.tipo}}</mat-label>
                    <div class="details-cont-buttons">
                        <button mat-button class="button">
                            <mat-icon><span class="material-symbols-outlined">delete</span></mat-icon>
                            Eliminar
                        </button>
                        <button mat-button class="button">
                            <mat-icon><span class="material-symbols-outlined">edit</span></mat-icon>
                            Modificar
                        </button>
                        <button mat-button class="button">
                            <mat-icon><span class="material-symbols-outlined">attach_money</span></mat-icon>
                            Comprar ahora
                        </button>
                    </div>
                </div>
                <div class="cont-counter-stock">
                    <div class="cont-counter">
                        <button mat-button (click)="actionsBtnDecrement(i)" class="counter-format-side">-</button>
                        <button mat-button class="counter-format-middle">{{counter[i]}}</button>
                        <button  mat-button (click)="actionsBtnIncrement(i)" class="counter-format-side">+</button>
                    </div>
                    <mat-label class="details-text-body">Stock: {{product.inventario.existencias}} disponibles</mat-label>
                </div>
                <div class="cont-price">
                    <mat-label class="price-text">${{current_price[i]}} MXM</mat-label>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="cont-total-principal border-5px">
        <mat-label class="total-text-title">Resumen de compra</mat-label>
        <div class="total-resume">
            <mat-label>Productos: 3</mat-label> <br>
            <mat-label class="total-text-price">Total: $450.46 MXM</mat-label>
        </div>
        <button mat-button class="total-button">
            <mat-icon><span class="material-symbols-outlined">attach_money</span></mat-icon>
            Comprar ahora
        </button>
    </mat-card>
</section>
