.general-container {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.border-5px {
    border: #2F48CF 1px solid;
    border-radius: 5px;
}

.cont-products-principal {
    width: 80%;
    border: #2F48CF 1px solid;
    border-radius: 40px;
}

.cont-products {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.cont-single-product {
    border: #2F48CF 1px solid;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.cont-mix-img-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: fit-content;
}

.cont-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 140px;
    margin: 0px 15px;
}

.img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-cont-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
    width: 80%;
    height: fit-content;
    padding: 20px 0px;
}

.details-text-title {
    font-weight: bold;
    font-size: 110%;
}

.details-test-body {
    font-weight: lighter;
}

.details-cont-buttons {
    margin-top: 15px;
    margin-bottom: 10px;
}

.button {
    margin-right: 1%;
}

.button:hover {
    background-color: #2F48CF;
    color: #ffffff;
}

.button-delete:hover {
    background-color: red;
    color: #ffffff;
}

.cont-counter-stock-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: fit-content;
}

.cont-counter-stock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 160px;
    margin-right: 5px;
}

.cont-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.counter-format-middle {
    border-top: #2F48CF .1px solid;
    border-bottom: #2F48CF .1px solid;
    min-width: 30px;
    width: 50px;
}

.counter-format-side {
    border: #2F48CF .1px solid;
    min-width: 30px;
    width: 40px;
}

.cont-price {
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: right;
    align-items: center;
    width: 45%;
    margin-right: 5%;
    height: fit-content;
}

.price-text {
    font-size: 130%;
}

.cont-total-principal {
    width: 19%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: #2F48CF 1px solid;
    border-radius: 40px;
}

.total-text-title {
    text-decoration: underline;
}

.total-resume {
    width: 100%;
    text-align: left;
    margin: 10px 0px 20px 0px;
}

.total-text-price {
    font-weight: bold;
}

.total-button {
    width: 100%;
}

.total-button:hover {
    background-color: #2F48CF;
    color: #ffffff;
}

@media (max-width: 1200px) {
    .product-cont-details {
        min-width: 400px;
        width: 75%;
    }

    .cont-counter-stock-price {
        width: 25%;
        flex-direction: column;
    }

    .cont-counter-stock {
        width: 100%;
        margin: 0;
        height: fit-content;
    }

    .details-cont-buttons {
        justify-content: center;
        align-items: center;
        width: 55%;
        min-width: 400px;
    }

    .button {
        width: 48%;
        margin: 0;
        margin-bottom: 7px;
        margin-right: 2%;
    }

    .cont-price {
        width: 100%;
        justify-content: center;
        margin-top: 15px;
    }
}

@media(max-width: 1000px) {
    .general-container {
        flex-direction: column;
        align-items: center;
    }

    .cont-products-principal {
        width: 95%;
    }

    .cont-single-product {
        flex-wrap: wrap;
        padding: 15px 0px;
        margin: 3px 0px;
    }

    .cont-mix-img-details {
        width: 100%;
    }

    .cont-img {
        min-width: 70px;
        width: 20%;
        margin: 0px 5px;
    }

    .img {
        min-width: 70px;
    }

    .product-cont-details {
        min-width: 100px;
        width: 100%;
        padding: 0px 10px;
    }

    .details-text-title {
        font-size: 100%;
    }

    .details-test-body {
        font-size: 100%;
    }

    .details-cont-buttons {
        min-width: 100%;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .button {
        width: min-content;
        height: min-content;
        font-size: 100%;
        padding: 0px 5px 0px 0px;
    }

    .text-delete {
        display: none;
    }

    .button-delete {
        width: min-content;
        margin-left: 5px;
        padding: 0;
    }

    .cont-counter-stock-price {
        flex-direction: row;
        justify-content: left;
        width: 100%;
        margin-top: 7px;
        align-items: baseline;
    }

    .cont-counter-stock {
        width: 45%;
    }
    
    .cont-counter {
        width: 100%;
        margin: 0px;
    }

    .counter-format-side {
        width: min-content;
        height: min-content;
    }

    .counter-format-middle {
        width: min-content;
        height: min-content;
    }

    .stock-text-mobile {
        font-size: 85%;
    }

    .cont-price {
        width: 55%;
        margin: 0;
        justify-content: right;
        padding-right: 30px;
    }

    .price-text {
        font-size: 145%;
    }

    .cont-total-principal {
        width: 95%;
        margin-top: 10px;
    }
}
