<main class= "mat-app-background">
    <section class="container cont-father">

        <button mat-mini-fab color="primary" (click)= "openBottomSheet()">
            <mat-icon>filter_list</mat-icon>

        </button>

        <nav class="cont-left-filter">
            <mat-label class="filter-title"> Filtro </mat-label>
            <ul class="filter-first-group">
                <li class="filter-single" (click)= "categoryPanel = !categoryPanel">
                    <mat-label class="single-text">
                        Categorias
                        <mat-icon class="single-icon-expand">expand_more</mat-icon>
                    </mat-label>
                    <ul *ngIf= "categoryPanel" class= "filter-second-group">
                        <li *ngFor="let category of categories; let i = index" class="single-text just-one" (click)="filterUrlId('category', category.id_categoria)">
                            {{category.categoria}}
                        </li>
                    </ul>
                </li>

                <li class="filter-single" (click)= "colorPanel = !colorPanel">
                    <mat-label class="single-text">
                        Colores
                        <mat-icon class="single-icon-expand">expand_more</mat-icon>
                    </mat-label>
                    <ul *ngIf= "colorPanel" class="filter-second-group">
                        <li *ngFor="let color of colors; let i = index" class="single-text just-one" (click)="filterUrlId('color', color.id_color)">
                            {{color.color}}
                        </li>
                    </ul>
                </li>

                <li class="filter-single" (click)= "brandPanel = !brandPanel">
                    <mat-label class="single-text">
                        Marcas
                        <mat-icon class="single-icon-expand">expand_more</mat-icon>
                    </mat-label>
                    <ul *ngIf= "brandPanel" class="filter-second-group">
                        <li *ngFor= "let brand of brands; let i = index" class="single-text just-one" (click)="filterUrlId('brand', i)">
                            {{brand}}
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="cont-principal-products">
            <mat-label *ngIf="filter=='category'" class="results-format">
                Resultados para productos pertenecientes a la categoria <span class="bold">"{{ categories[searched].categoria }}"</span>
            </mat-label>
            <mat-label *ngIf="filter=='color'" class="results-format">
                Resultados para productos perteneciente al color <span class="bold">{{ colors[searched].color }}"</span>
            </mat-label>
            <mat-label *ngIf="filter=='brand'" class="results-format">
                Resultados para productos perteneciente a la marca <span class="bold">{{ brands[searched] }}</span>
            </mat-label>
            <div class="content__product-cards">
                <app-card *ngFor="let product of products" [data]="product" [height]="10" [width]="10"></app-card>
            </div>
        </div>
    </section>
</main>

