*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.body{
    background: #f1f1f1;
}
.nav{
    width: 0px;
}
.nav_link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}
.nav_link--inside:hover{
    background: #F6F8FA;
}
.list{
    width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: white;

}
.list_item{
    list-style: none;
    width: 100%;
    text-align: center;
    /*overflow: hidden;*/
}
.list_item--click{
    cursor: pointer;
}
.list_button{
    display: flex;
    align-items: center;
    gap:1em;
    width: 70%;
    margin: 0 auto;
}
.list_arrow{
    margin-left: auto;
}
/*.list_show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: heigth .4s;
    height: 0;
}*/