<div class="header">
    <h2 mat-dialog-title>AGREGA UN DOMICILIO</h2>
    <button mat-raised-button type="button" (click)="closeModalAddress()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <div class="content">
        <section class="section-form">
            <form class="form" [formGroup]="formAddres">
                <div class="form__content">

                    <mat-form-field appearance="outline">
                        <mat-label>País:</mat-label>
                        <mat-select formControlName="pais">
                            <mat-option *ngFor="let pais of paises" [value]="pais.id_pais" (click)="getCiudades(pais.id_pais)">
                                {{pais.pais | titlecase}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Ciudad:</mat-label>
                        <mat-select formControlName="id_ciudad">
                            <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.id_ciudad" (click)="getMunicipios(ciudad.id_ciudad)" >
                                {{ciudad.ciudad | titlecase}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Código Postal:</mat-label>
                        <input type="text" matInput placeholder="Ejem. 73173" formControlName="codigo_postal">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Municipio:</mat-label>
                        <mat-select formControlName="municipio">
                            <mat-option *ngFor="let municipio of municipios" [value]="municipio.municipio">
                                {{municipio.municipio | titlecase}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Calle:</mat-label>
                        <input type="text" matInput placeholder="Ejem. #15" formControlName="calle">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Colonia:</mat-label>
                        <input type="text" matInput placeholder="Ejem. 14 de octubre" formControlName="colonia">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>N° Exterior:</mat-label>
                        <input type="text" matInput placeholder="Ejem. " formControlName="num">
                    </mat-form-field>

                    <div class="form__content-telefono">

                        <!-- <mat-form-field appearance="outline">
                            <mat-label>Prefijo pais</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let prefijo of prefijos" [value]="prefijo">
                                    {{prefijo}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->

                        <mat-form-field appearance="outline">
                            <mat-label>Teléfono Celular</mat-label>
                            <input type="text" matInput placeholder="Ejem. 55 5544 6677" formControlName="telefono">
                        </mat-form-field>

                    </div>


                    <mat-form-field appearance="outline">
                        <mat-label>Referencias de casa:</mat-label>
                        <textarea matInput placeholder="Descripción de tu casa, entre que puntos de referencia se encuentra, etc." formControlName="referencia"></textarea>
                    </mat-form-field>

                </div>

                <button mat-raised-button type="button" class="form__btn" 
                    [disabled]="formAddres.invalid" (click)="save()" >Guardar</button>

            </form>
        </section>

        <section class="section-user">
            <div class="content-icon">
                <img [src]="iconUsr" alt="Usuario">
            </div>

            <h4>Domicilio de {{data.nombrePersona}}</h4>

        </section>
    </div>
</mat-dialog-content>