.edit-header{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;

    .content-img{
        height: 8rem;
        width: 8rem;

        img{
            width: 100%;
        }

    }

    .edit-header__btn{
        background-color: #2F48CF;
        color: white;
    }

}

@media (min-width: 700px) {
    .form__content{
        
        grid-template-columns: repeat(2, 1fr) !important;
        
    }
}

.container-form{
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .form__content{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;

            .form__telefono{
                display: flex;
                gap: 1rem;
            }
    
            .form__direccion{
                display: flex;
                align-items: center;
                gap: 1rem;
    
                button{
                    background-color: #2F48CF;
                    color: white;
                }
            }
        }

        button{
            background-color: #2F48CF;
            color: white;
        }

    }
}