<div class="content">
    <h2>Mis datos</h2>
    
    <section class="datos-user">
    
        <div class="datos-user__field">
            <p class="title">Correo:</p>
            <p class="value">example@exmple.com
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </p>
        </div>
    
        <div class="datos-user__field">
            <p class="title">Contraseña:</p>
            <p class="value">****************
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </p>
        </div>
    
        <div class="datos-user__field">
            <p class="title">Telefono:</p>
            <p class="value">5587324325
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </p>
        </div>
    
        <div class="datos-user__field">
            <p class="title">Dirección:</p>
            <p class="value">av. las lomas num. 19
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </p>
        </div>
    
    </section>

</div>
