<div class="content">
    <h2>Mis datos</h2>
    
    <section class="datos-user">
    
        <div class="datos-user__field">
            <p class="title">Correo:</p>
            <p class="value" *ngIf="user">{{user.correo}}
                <button mat-icon-button (click)="openModalEditProfile()">
                    <mat-icon>edit</mat-icon>
                </button>
            </p>
        </div>
    
        <div class="datos-user__field">
            <p class="title">Contraseña:</p>
            <p class="value">****************
                <button mat-icon-button (click)="openModalEditProfile()">
                    <mat-icon>edit</mat-icon>
                </button>
            </p>
        </div>
    
        <div class="datos-user__field">
            <p class="title">Telefono:</p>
            <p class="value" *ngIf="user">{{ user.persona.telefono }}
                <button mat-icon-button (click)="openModalEditProfile()">
                    <mat-icon>edit</mat-icon>
                </button>
            </p>
        </div>
    
        <div class="datos-user__field">
            <p class="title">Dirección:</p>
            <p class="value" *ngIf="user">{{ user.persona.direccion.calle }}. {{ user.persona.direccion.colonia }}.
                {{ user.persona.direccion.num }}
                <button mat-icon-button (click)="openModalEditProfile()">
                    <mat-icon>edit</mat-icon>
                </button>
            </p>
        </div>
    
    </section>

</div>
