<footer class="cont-footer">
    <div class="cont-explorer-principal left-text">
        <div class="cont-explorer">
            <mat-label class="text-title-explorer">Explorar</mat-label>
            <div class="explorer">
                <a class="text-cont-explorer">Home</a>
            </div>
        </div>
        <div class="cont-explorer">
            <mat-label class="text-title-explorer">Cuenta</mat-label>
            <div class="explorer">
                <a class="text-cont-explorer">Mi cuenta</a>
                <a class="text-cont-explorer">Crear cuenta</a>
            </div>
        </div>
        <div class="cont-explorer">
            <mat-label class="text-title-explorer">Contactenos</mat-label>
            <div class="icons-container" >
                <a href=""> 
                    <img class="icons" src="/assets/img/logos/facebook.jpg" alt="facebook-icon"> 
                </a>
            </div>
        </div>
    </div>
    <div class="logos-cont-principal">
        <div class="logos-cont">
            <img class="logo-stationary" src="/assets/img/logos/papeleria.png">
            <img class="logo" src="/assets/img/logos/mercado-pago.png">
        </div>
    </div>
</footer>