<div class="component-body">
  <div class="component-izq" id="celular">
    <div class="contenedor-component-izq">
      <!-- Contenido encima del fondo de imagen -->
      <img [src]="logoUrl" alt="Logo" class="imagen-contenedor">
      <h1 class="font">¡Crear Cuenta!</h1>
      <h5 class="account">¿Ya tienes cuenta? Inicia Sesión <a routerLink="/auth/login"> ¡Aqui!</a></h5>
    </div>
  </div>
  <div class="component-der">
    <!-- Contenido de la parte izquierda (blanco) -->
    <div class="contenedor-registro" id="letra">
      <h1 class="registro">Regístrate</h1>
      <form [formGroup]="registerForm" class="form">

        <p>Los campos con * son obligatorios</p>

        <div class="example-form form-column">
          <mat-form-field appearance="outline" class="input-style">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput placeholder="Nombre" formControlName="nombre">
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-style">
            <mat-label>Apellidos</mat-label>
            <input type="text" matInput placeholder="Apellidos" formControlName="apellido">
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-style">
            <mat-label>Celular</mat-label>
            <span matPrefix>+52 &nbsp;</span>
            <input type="tel" matInput placeholder="Ejem. 555 455 6677" formControlName="telefono">
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-style">
            <mat-label>Correo electrónico</mat-label>
            <input type="email" matInput placeholder="Ejem. example@example.com" formControlName="correo">
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-style">
            <mat-label>Usuario</mat-label>
            <input type="text" matInput placeholder="Ejem. User34" formControlName="usuario">
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-style">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="***********" formControlName="contraseña">
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-style">
            <mat-label>Confirmar Contraseña</mat-label>
            <input type="password" matInput placeholder="***********" formControlName="confirmContra">
            <mat-error *ngIf="validConfirmPass()">La contraseña no coincide </mat-error>
          </mat-form-field>



        </div>
        <button mat-raised-button type="button" (click)="register()">
          Registrarse
        </button>

      </form>
    </div>
  </div>
</div>