<main class="mat-app-background">
        <app-slider [data]="imgSlider"
                [showBullets]="false"
        ></app-slider>

        <div class="container">
                <div class="content__slider">
                        <h4>PRODUCTOS</h4>
                        <app-slider [data]="products"
                                [isClickable]="true"
                                [isImage]="false"
                                [routerName]="'site/products/detail'"
                                [nameQueryParam]="'product'"

                                [gap]="15"
                                [showBullets]="false"
                                [autoplay]="false"
                                [rewind]="false"
                                [perView]="4"
                        ></app-slider>
                </div>

                <div class="content__slider">
                        <h4>CATEGORIAS</h4>

                        <app-slider *ngIf="categorias.length > 0" [data]="categorias"
                                [isClickable]="true"
                                [isImage]="false"
                                [isText]="true"
                                [routerName]="'site/products'"
                                [nameQueryParam]="'category'"

                                [gap]="15"
                                [showBullets]="false"
                                [autoplay]="false"
                                [rewind]="false"
                                [perView]="4"
                        ></app-slider>
                </div>

                <div class="content__product">
                        <h4>NUEVOS PRODUCTOS</h4>
                        <div class="content__product-cards">
                                <app-card *ngFor="let product of newProducts" [data]="product" [height]="10" [width]="10"></app-card>
                        </div>
                </div>

        </div>


</main>

