<main>
        <app-slider [data]="imgSlider"
                [showBullets]="false"
        ></app-slider>

        <div class="content__slider-products">
                <app-slider [data]="products"
                        [isClickable]="true"
                        [isImage]="false"
                        
                        [gap]="15"
                        [showBullets]="false"
                        [autoplay]="false"
                        [rewind]="false"
                        [perView]="4"
                ></app-slider>
        </div>

</main>

