<main class="mat-app-background">
    <div class="container container_user">
        <aside class="aside">

            <div class="content-icon">
                <img class="aside-icon" [src]="iconUsr" alt="user">
            </div>
    
            <div class="content-text" *ngIf="nameUser">
                <h2 class="text-center">{{nameUser.nombre| titlecase}}</h2>
                <h4 class="text-center">{{nameUser.apellido | titlecase}}</h4>
    
            </div>
    
            <div class="buttons">
                <button mat-raised-button class="btn" routerLink="datos">
                    <mat-icon>person</mat-icon>
                    Mis datos
                </button>
    
                <button mat-raised-button class="btn" routerLink="compras">
                    <mat-icon>shopping_bag</mat-icon>
                    Mis compras
                </button>
            </div>
    
        </aside>
    
        <section class="data">
            <router-outlet></router-outlet>
        </section>
    </div>

</main>
