/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// importing glide SCSS
// @use '@glidejs/glide/src/assets/sass/glide.core.scss';
// @use '@glidejs/glide/src/assets/sass/glide.theme.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.container {
    padding-right: 2.5%;
    padding-left: 2.5%;
}

.text-center{
    text-align: center;
}



.content__product-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
    gap: 1.5rem;
    margin-right: 3rem;
    margin-left: 3rem;
}
