.father-container{
    padding: 50px 0PX 20px 0PX;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.up-container {
    width: 100%;
    height: 100%;
}

.flex-wrap-between {
    display: flex;
    justify-content: space-between;
}

.title-text {
    width: 100%;
    height: fit-content;
    font-weight: bold;
    font-size: 160%;
}

.cont-title{
    text-align: left;
    margin: 0;
}

.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}

.line{
    background-color: #2F48CF;
}

.border-5px {
    border: #2F48CF .5px solid;
    border-radius: 5px;
}

.border-10px {
    border: #2F48CF .5px solid;
    border-radius: 10px;
}

.border-20px {
    border: #2F48CF .5px solid;
    border-radius: 20px;
}

.uppercase{
    text-transform: uppercase;
}

.cont-up-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 45%;
    height: fit-content;
}

.group-images {
    min-width: 70px;
    width: 70px;
    height: 360px;
    margin: 0px 3% 0px 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    justify-content: start;
}

.principal-image-contain {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-image {
    width: 100%;
    object-fit: contain;
    image-rendering: optimizeQuality;
}

.img {
    min-width: 50px;
    width: 60px;
    height: 60px;
    margin: 11px 5px;
    object-fit: contain;
    image-rendering: optimizeSpeed;
    opacity: .5;
}

.img.selected {
    min-height: 55px;
    opacity: 1;
    border: #2F48CF 1px solid;
    width: 70px;
    height: 70px;
    margin: 0px;
}

.details-text {
    font-size: 105%;
    line-height: 145%;
    font-weight: lighter;
}

.price-text {
    font-size: 205%;
    font-weight: normal;
}

.details-card {
    min-width: 200px;
    width: 45%;
    height: fit-content;
    padding: 20px;
}

.cont-categories-principal {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    height: fit-content;
}

.cont-categories {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    height: fit-content;
    margin-left: 5px;
}

.categorie {
    padding: 4px 8px;
    text-decoration: none;
}

.cont-colors-principal {
    display: flex;
    justify-content: left;
    align-items: start;
    margin-top: 5px;
}

.cont-colors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    max-height: max-content;
    margin-left: 5px;
}

.color{
    margin: 0px 3% 10px 3%;
    width: 27px;
    height: 27px;
    border: 1px black solid;
    border-radius: 100%;
}

.cont-counter-principal {
    min-width: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: first baseline;
}

.cont-counter {
    min-width: 130px;
    width: 150px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 15px;
}

.counter-format-middle {
    border-top: #2F48CF .1px solid;
    border-bottom: #2F48CF .1px solid;
    min-width: 30px;
    width: 55px;
}

.counter-format-side {
    border: #2F48CF .1px solid;
    min-width: 30px;
    width: 40px;
}

.stock-text {
    font-size: 110%;
    line-height: 140%;
    font-weight: lighter;
}

.cont-up-right {
    min-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
    width: 650px;
}

.button-card {
    min-width: 200px;
    width: 45%;
    height: fit-content;
    padding: 20px;
    margin-left: 2%;
}

.hidden {
    display: none;
}

.button-text {
    font-size: 105%;
}

.buy {
    background-color: #172EB0;
    color: white;
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
}

.add-to-cart {
    background-color: #60A9ED;
    color: white;
    width: 100%;
    padding: 4px;
}

.description-text {
    font-size: 105%;
    line-height: 140%;
}

.description-card {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}


@media (max-width:1000px) {
    .up-container {
        justify-content: space-around;
    }

    .principal-image {
        min-width: none;
        width: 320px;
        margin: 0px 25px;
    }

    .cont-up-left {
        flex-direction: row;
        justify-content: center;
        min-width: none;
        width: 450px;
    }

    .cont-up-right {
        flex-direction: column;
        align-items: end;
        max-width: 400px;
        min-width: 100px;
        width: 340px;
    }

    .group-images {
        margin: 0;
        width: 85px;
    }

    .details-card {
        min-width: none;
        width: 100%;
        margin: 0;
    }

    .button-card {
        min-width: none;
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }

    .principal-image {
        margin-left: 10px;
    }
    
}

@media (max-width:800px) {
    .cont-title {
        text-align: center;
    }

    .flex-wrap-between{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .up-container {
        flex-direction: column;
    }

    .cont-up-right {
        width: 100%;
        flex-direction: column;
        align-items: center;
        min-width: none;
        max-width: none;
    }

    .cont-up-left {
        width: 90%;
        justify-content: center;
    }

    .principal-image-contain {
        width: 350px;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .principal-image {
        width: 90%;
    }

    .group-images {
        margin: 0px;
        margin-right: 1%;
        height: 310px;
        width: 55px;
    }

    .img {
        margin: 5px 2.5px;
        width: 50px;
        height: 50px;
    }

    .img.selected {
        width: 55px;
        height: 55px;
    }

    .details-card {
        width: 90%;
        margin: 20px 0px 2px 0px;
    }

    .color {
        margin-left: 8px;
        margin-right: 8px;
    }

    .button-card {
        width: 90%;
        margin: 2px 0px;
    }

    .description-card {
        margin: 10px 0px;
        width: 90%;
    }
}
